
<!-- IE into quirks mode -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title> henceworth </title>
<link href="/css/style3.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">

  var lastScrollTop = 0;
  i = 0

  $(document).ready(function() {
      $('#left1').scroll(function() {
        var st = $(this).scrollTop();
     if (st > lastScrollTop){
         i = i + 1
     } else {
        i = i - 1
     }
     lastScrollTop = st;
        
      // $('#left2').css({"top": i})
      setRight(i)
      });
  });

  setRight = function(i){

     $('#left2').css({"top": i});
  }


</script>
</head>

<body>



  <div id="#wrapper">

<div id="left1">
<div class="inner">
<h3>$title$</h3>

 $body$

</div>
</div>


<div id="left2">
<div class="inner">
<h3>Notes</h3>

$toc$

</div>
</div>


</div> <!-- #wrapper -->

<div id="head">$title$ </div>
<div id="foot"><br />henceworth.org &copy; 2013</div>

</body>
</html>
